<footer>
  <div class="container">
    <p xmlns:cc="http://creativecommons.org/ns#">
      This work is marked with
      <a
        href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1"
        target="_blank"
        rel="license noopener noreferrer"
        style="display: inline-block"
        >CC0 1.0<img
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
          alt="" /><img
          src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"
          alt=""
      /></a>
    </p>
  </div>
</footer>
