<header>
  <div class="container">
    <div class="header-content">
      <h1 class="page-title"><a href="/">Accessibility Seattle</a></h1>
      <nav class="main-nav">
        <ul class="nav-list">
          <li><a href="/alex-jordan/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Alex_Jordan_a_27-_816d1020-b67c-4e44-be72-c198daaf591c_0.png" alt="Alex Jordan"></a></li>
          <li><a href="/eska-anderson/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Eska_Anderson_a_3_4967ad9d-9fd9-4722-9d47-2c9bf7fc938a_2.png" alt="Eska Anderson"></a></li>
          <li><a href="/halima-ali/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Halima_Ali_a_70-y_afdc64f5-4e30-476d-a402-eb3950c78f69_2.png" alt="Halima Ali"></a></li>
          <li><a href="/frankie-howard/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Frankie_Howard_a__1868d82e-c664-475d-ad93-fdf284438922_2.png" alt="Frankie Howard"></a></li>
          <li><a href="/jimmy-jackson/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Jimmy_Two_Smokes__bf30d30b-3dc0-44df-9fa3-a23bcb544c37_0.png" alt="Jimmy &quot;Two Smokes&quot; Jackson"></a></li>
          <li><a href="/mai-tran/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Mai_Tran____a_38-_526d2661-59f3-4192-90ee-c683b266ec5e_1.png" alt="Mai Tran"></a></li>
          <li><a href="/maria-hernandez/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Maria_Hernandez_a_4145e385-6808-4a07-886f-6b9ed1e01a9f_3.png" alt="Maria Hernandez"></a></li>
          <li><a href="/plinko-the-clown/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Plinko_the_Clown__42b3787d-b5c4-4328-ba49-4c6857eec1da_3.png" alt="Plinko the Clown"></a></li>
          <li><a href="/tommy-brown/"><img src="/assets/images/u3343843948_Professional_studio_headshot_of_Tommy_Teebs_Brown_61a7b3a0-1528-4656-954e-dc607d719e22_2.png" alt="Tommy Brown"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
