<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta_title or title or site.title }} | a11ySEA</title>
  <meta name="description" content="{{ meta_description or site.seo_description }}">
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.slate.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
